$grey-border: #EBEBEB;
$orange-title: #E55103;
$background-wrapper: #F0F0F0;
$color-animation: #E55103;
$color-thriller: #3B4B4D;
$color-drame: #791E1E;
$color-comedy: #FFE30B;

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    outline: 0;
    background: #F0F0F0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}