$grey-border: #ebebeb;
$orange-title: #e55103;
$background-wrapper: #f0f0f0;
$color-animation: #e55103;
$color-thriller: #3b4b4d;
$color-drame: #791e1e;
$color-comedy: #ffe30b;

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  outline: 0;
  background: #f0f0f0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
